blockquote{
    color: #567;
}
body{
    background-color: #EBFFFB;
}
hr{
    color: #445566;
}
.heading{
    color: aliceblue;
    position: relative;
    bottom: 65px;
}
html{
    border-top: #445566 50px solid;
    border-bottom: #445566 5px solid;
    border-left: #445566 5px solid ;
    border-right: #445566 5px solid ;
}
.question{
    color: #304357;
}
